$bg:         rgba(15, 14, 18, 0.6);
$bg1:        #0f0f0f;
$bg-alt:     #191919;
$fg:         #f0f0f0;
$fg-alt:     #cacaca;

$text:       #cdd6f4;
$subtext1:   #bac2de;
$subtext0:   #a6adc8;
$overlay2:   #9399b2;
$overlay1:   #7f849c;
$overlay0:   #6c7086;
$surface2:   #585b70;
$surface1:   #45475a;
$surface0:   #313244;

$rosewater:  #f5e0dc;
$flamingo:   #f2cdcd;
$magenta:    #f5c2e7;
$mauve:      #cba6f7;
$pink:       #ac74ac;
$purple:     #803dc0;
$red:        #f38ba8;
$dark-red:   #dd6777;
$maroon:     #eba0ac;
$peach:      #fab387;
$yellow:     #f9e2af;
$dark-yellow:#ceb188;
$green:      #a6e3a1;
$dark-green: #1db954;
$cyan:       #9ec3c4;
$teal:       #94e2d5;
$sapphire:   #74c7ec;
$blue:       #89b4fa;
$lavender:   #a39ec4;
$gray:       #4c4c4c;
$black:      #262626;