#nav-bar {
  min-height: 36px !important;
  box-shadow: none !important;
  background-color: var(--bg) !important;
  padding-inline: 5px 6px !important;
}

#nav-bar,
#urlbar {
  z-index: 100;
}

/* Styling for the new tab button in the navbar */
#tabs-newtab-button,
#new-tab-button {
  transition: 0.3s !important;
  color: transparent !important;
  fill: FieldText !important;
  background: none !important;
  opacity: 20%;
  padding-right: 20px !important;
  padding-left: 4px !important;
  -moz-window-dragging: var(--WindowDraggingFromNewtabButton);
}

/* Hover effect for the new tab button in the navbar */
#tabs-newtab-button:hover,
#new-tab-button:hover {
  transition: 0.3s !important;
  color: transparent !important;
  fill: FieldText !important;
  opacity: 90%;
  padding-right: 20px !important;
  background: none !important;
  padding-left: 4px !important;
  -moz-window-dragging: var(--WindowDraggingFromNewtabButton);
}

/* Styling for the icon within the new tab button in the navbar */
#tabs-newtab-button > .toolbarbutton-icon,
#new-tab-button > .toolbarbutton-icon {
  background: none !important;
}

/* Media Query for small screens */
@media (max-width: 630px) {
  #urlbar-container {
    min-width: 100% !important;
  }

  #menubar-items {
    display: none !important;
  }
}

/* remove black line under nav bar */
toolbox#navigator-toolbox {
  border-bottom: solid var(--dividers) var(--sidebar-shadow-color) !important;
}
